<ion-header>
  <ion-toolbar>
    <ion-title>
      POO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Vamos somar? Digite dois numeros e depois clique em OK quando finalizar
<ion-input [(ngModel)]= "valor" ></ion-input>
<ion-input [(ngModel)]= "valor2" ></ion-input>
<ion-input [(ngModel)]= "valor3" ></ion-input>
<ion-input [(ngModel)]= "valor4" ></ion-input>
<ion-input [(ngModel)]= "val1" ></ion-input>
<ion-input [(ngModel)]= "val2" ></ion-input>

<ion-button (click) = "somar()"> ok </ion-button>

<ion-button color="success" (click)= "clicar()"> A </ion-button>
<ion-button color="primary" (click)= "clicar2()">B</ion-button>
<ion-button color="warning" (click)= "clicar3()">C</ion-button>
<ion-button color="danger" (click)= "clicar4()">D</ion-button>


</ion-content>
