<ion-header>
  <ion-toolbar>
    <ion-title>
      Recuperação POO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-input [(ngModel)]= "valor" ></ion-input>
<ion-input [(ngModel)]= "valor2" ></ion-input>
<ion-input [(ngModel)]= "valor3" ></ion-input>
<ion-input [(ngModel)]= "valor4" ></ion-input>

<ion-input [(ngModel)]= "val1" ></ion-input>
<ion-input [(ngModel)]= "val2" ></ion-input>
Vamos somar? Digite dois numeros e depois clique em OK quando finalizar
<ion-button (click) = "somar()"> ok </ion-button>  <br>
Quer descobrir se a soma é par ou Impar?<br>
<ion-button (click) = "parou()"> Par ou Impar </ion-button>  <br>
Quer descobrir qual é o maior número?<br>
<ion-button (click) = "maiorou()"> Maior </ion-button>
<br>


  <br>

Nota da Luana foi:
  <br>

<ion-button color="success" (click)= "clicar()"> A </ion-button>
<ion-button color="primary" (click)= "clicar2()">B</ion-button>
<ion-button color="warning" (click)= "clicar3()">C</ion-button>
<ion-button color="danger" (click)= "clicar4()">D</ion-button>
</ion-content>
